packages

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
node_modules
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
[Dd]ist/
[Ll]ogs
*.user
*.suo
*.jfm
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
TestResults
.vs
.idea

#binary databases:
*.bin